<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/root/css/styles.css" />
</head>
<body class="background-black">
    <div class="video-background">
        <video autoplay muted loop id="myVideo">
            <source src="https://webstatic.mihoyo.com/upload/op-public/2023/02/23/5e355dea3eaf1f31ea497d5703b0c505_2947932349865370574.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="content">
        <div class="contact-info">
            <h3>Honkai: Star Rail</h3>
            <p>In this galaxy, there exists beings known as the "Stargods". They shape reality, erase stars, leaving their mark in countless "worlds".</p>
            <p>You—a special traveler, will journey alongside companions inheriting the spirit of "exploration". Together, you'll board the Starvault Train, traversing the galaxy, following the path once taken by a "Stargod".</p>
            <p>From here, you'll delve into new civilizations, forge connections with new comrades, embarking on fresh adventures between worlds, each more wondrous and peculiar than the last. All that you seek to know, you will find amidst the constellations.</p>
            <p>So, are you prepared to embark on this journey of "exploration"? </p>
            <p><strong><em>May this voyage ultimately lead you to the stars.</em></strong></p>
        </div>
    </div>
    <div class="icon">
        <img src="~/Image/year.png" alt="12+">
    </div>
    <script src="~/Scripts/idexscript.js"></script>
</body>
</html>
