@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="Honkai: Star Rail, turn-based game, miHoYo">
    <meta name="description" content="A Contact introduction interface about Honkai: Star Rail">
    <link rel="stylesheet" href="https://jigsaw.w3.org/css-validator/validator">
    <link rel="stylesheet" href="https://jigsaw.w3.org/css-validator/validator">
    <link rel="stylesheet" href="~/root/css/contact.css" />
</head>
<body class="background-black">
    <div class="video-background">
        <img src="~/Image/contact.png" alt="Logo" class="background-image">
    </div>
    <div class="info-box">
        <p>If you want to learn more about this game, please contact us!</p>
        <p><a href="tel:123456789">Phone: 159-456-789</a></p>
        <p><a href="mailto:contact@example.com">Email: contact@qq.com</a></p>
    </div>


</body>
</html>
